<form name='form1' action='/controllerUpdate' method='post'>

<h1>Alteração de Cliente</h1>

    <input type='text' name='id' id='cliente_id' placeholder='cliente_id' value='{{id}}'><br>
    <input type='text' name='nome_cliente' id='nome_cliente' placeholder='Nome' value='{{nome_cliente}}'><br>
    <input type='text' name='endereco_cliente' id='endereco_cliente' placeholder='Endereço' value='{{endereco_cliente}}'><br>
    <input type='text' name='cel_cliente' id='cel_cliente' placeholder='Celular' value='{{cel_cliente}}'><br>
    <input type='text' name='email_cliente' id='email_cliente' placeholder='Email' value='{{email_cliente}}'><br>
    <input type='text' name='senha_cliente' id='senha_cliente' placeholder='Senha' value='{{senha_cliente}}'><br>
    <input type='text' name='datanasc_cliente' id='datanasc_cliente' placeholder='Data Nascimento' value='{{datanasc_cliente}}'><br>
    <input type='text' name='rg_cliente' id='rg_cliente' placeholder='RG' value='{{rg_cliente}}'><br>
    <input type='text' name='cpf_cliente' id='cpf_cliente' placeholder='CPF' value='{{cpf_cliente}}'><br>

    <input type='submit' name='btnSubmit' id='btnSubmit' value='Atualizar'><br>
   
</form>

